numpy==1.19.5
matplotlib==3.3.4
virtualenv==20.0.30

torch==1.10.1
onnx==1.10.2

ipywidgets==7.6.5
git+https://github.com/twintproject/twint.git@origin/master#egg=twint

transformers==4.12.2
sentencepiece==0.1.96